.formCard{
    margin-top: 150px;
    width: 50%;
    height: 40%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.20);
}

.mais{
    font-size: 125px;
    margin-top: 25%;
}

.sensores{
    /* border: 3px solid black; */
    width: 30%;
    margin: 30px 5px;
}

.nomeSensor{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.corpo{
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    height: 100%;
}

.iconBateria{
    font-size: 25px;
    margin-top: 5px;
}